div {
    height: 700px;
    width: 800px;
    background: white;
    overflow: auto;
    font-size: 20px;
    line-height: 26px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -400px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1 {
	font-size: 36px;
	line-height: 36px;
}
p1 {
	font-size: 24px;
	line-height: 32px;
}
b {
	font-size: 32px;
	line-height: 32px;
}
br {
	line-height: 40px;
}
