img.floatLeft {
  float: left;
  margin: 5px;
  border: 2px solid black;
}
img.floatRight {
  float: right;
    margin: 5px;
  	border: 2px solid black;
}
body {
  background-color: lightblue;
}
p{
	color:gray;
}
h1{
	color:red;
}